/*
 * Kayenta API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * API version: 1.0.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package kayenta

import (
	"io/ioutil"
	"net/url"
	"net/http"
	"strings"
	"golang.org/x/net/context"
	"encoding/json"
)

// Linger please
var (
	_ context.Context
)

type StackdriverFetchControllerApiService service


/* StackdriverFetchControllerApiService Exercise the Stackdriver Metrics Service directly, without any orchestration or judging
 * @param ctx context.Context for authentication, logging, tracing, etc.
 @param optional (nil or map[string]interface{}) with one or more of:
     @param "metricsAccountName" (string) metricsAccountName
     @param "storageAccountName" (string) storageAccountName
     @param "metricSetName" (string) metricSetName
     @param "metricType" (string) metricType
     @param "groupByFields" ([]string) groupByFields
     @param "project" (string) project
     @param "resourceType" (string) Used to identify the type of the resource being queried, e.g. aws_ec2_instance, gce_instance.
     @param "location" (string) The location to use when scoping the query. Valid choices depend on what cloud platform the query relates to (could be a region, a namespace, or something else).
     @param "scope" (string) The name of the resource to use when scoping the query. The most common use-case is to provide a server group name.
     @param "startTimeIso" (string) An ISO format timestamp, e.g.: 2018-02-21T12:48:00Z
     @param "endTimeIso" (string) An ISO format timestamp, e.g.: 2018-02-21T12:51:00Z
     @param "step" (int64) seconds
     @param "customFilter" (string) customFilter
     @param "extendedScopeParams" (interface{}) extendedScopeParams
 @return interface{}*/
func (a *StackdriverFetchControllerApiService) QueryMetricsUsingPOST1(ctx context.Context, localVarOptionals map[string]interface{}) (interface{},  *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody interface{}
		localVarFileName string
		localVarFileBytes []byte
	 	successPayload  interface{}
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/fetch/stackdriver/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if err := typeCheckParameter(localVarOptionals["metricsAccountName"], "string", "metricsAccountName"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["storageAccountName"], "string", "storageAccountName"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["metricSetName"], "string", "metricSetName"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["metricType"], "string", "metricType"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["project"], "string", "project"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["resourceType"], "string", "resourceType"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["location"], "string", "location"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["scope"], "string", "scope"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["startTimeIso"], "string", "startTimeIso"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["endTimeIso"], "string", "endTimeIso"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["step"], "int64", "step"); err != nil {
		return successPayload, nil, err
	}
	if err := typeCheckParameter(localVarOptionals["customFilter"], "string", "customFilter"); err != nil {
		return successPayload, nil, err
	}

	if localVarTempParam, localVarOk := localVarOptionals["metricsAccountName"].(string); localVarOk {
		localVarQueryParams.Add("metricsAccountName", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["storageAccountName"].(string); localVarOk {
		localVarQueryParams.Add("storageAccountName", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["metricSetName"].(string); localVarOk {
		localVarQueryParams.Add("metricSetName", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["metricType"].(string); localVarOk {
		localVarQueryParams.Add("metricType", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["groupByFields"].([]string); localVarOk {
		localVarQueryParams.Add("groupByFields", parameterToString(localVarTempParam, "multi"))
	}
	if localVarTempParam, localVarOk := localVarOptionals["project"].(string); localVarOk {
		localVarQueryParams.Add("project", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["resourceType"].(string); localVarOk {
		localVarQueryParams.Add("resourceType", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["location"].(string); localVarOk {
		localVarQueryParams.Add("location", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["scope"].(string); localVarOk {
		localVarQueryParams.Add("scope", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["startTimeIso"].(string); localVarOk {
		localVarQueryParams.Add("startTimeIso", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["endTimeIso"].(string); localVarOk {
		localVarQueryParams.Add("endTimeIso", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["step"].(int64); localVarOk {
		localVarQueryParams.Add("step", parameterToString(localVarTempParam, ""))
	}
	if localVarTempParam, localVarOk := localVarOptionals["customFilter"].(string); localVarOk {
		localVarQueryParams.Add("customFilter", parameterToString(localVarTempParam, ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/json",  }

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"*/*",
		}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	if localVarTempParam, localVarOk := localVarOptionals["extendedScopeParams"].(interface{}); localVarOk {
		localVarPostBody = &localVarTempParam
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return successPayload, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return successPayload, localVarHttpResponse, err
	}
	defer localVarHttpResponse.Body.Close()
	if localVarHttpResponse.StatusCode >= 300 {
		bodyBytes, _ := ioutil.ReadAll(localVarHttpResponse.Body)
		return successPayload, localVarHttpResponse, reportError("Status: %v, Body: %s", localVarHttpResponse.Status, bodyBytes)
	}

	if err = json.NewDecoder(localVarHttpResponse.Body).Decode(&successPayload); err != nil {
		return successPayload, localVarHttpResponse, err
	}


	return successPayload, localVarHttpResponse, err
}

